.menu-list {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 86px;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      margin-right: 34px;
      background: $bg-color;
      border-radius: 50%;
      cursor: pointer;

      i {
        font-size: 20px;
        color: #fff;
      }

      .icon-user {
        color: $btn-color;
      }
    }

    .cars-btn {
      width: 238px;
      height: 84px;
      background: linear-gradient(0deg, #32373b, #3f444b);
      border-radius: 100px;

      a {
        font-size: 26px;
        font-family: Microsoft YaHei;
        font-weight: 300;
        color: #fefefe;
        line-height: 43px;
      }
    }
  }