.users {
  .user-info {
    display: flex;
    padding: 84px 0 80px 0;

    img {
      border-radius: 50%;
      width: 78px;
      height: 78px;
      margin-left: 47px;
      border: 6px solid #2f343a;
    }

    .meta {
      flex: 1;
      padding: 6px 0 15px 17px;

      .name {
        font-size: 18px;
        color: #909090;
        font-weight: 300;
      }

      span {
        display: inline-block;
        height: 27px;
        line-height: 27px;
        margin-top: 12px;
        padding: 0 17px;
        background-color: #10a0f2;
        border-radius: 100px;
        color: #fff;
      }
    }
  }
}

.log-out {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 20px 64px;
  background: #2D3339;
  border-radius: 50px;
  border-width: 0;
  bottom: 61px;
  left: 50%;
  transform: translateX(-50%);
  color: #FEFEFE;
  font-size: 18px;
  outline: none;
  cursor: pointer;
}